<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/healthy-food.png" alt="">
  </div>
  <div class="headings">
    <h2>Healthy Recipes</h2>
    <h3>Make your life worth living!</h3>
    <a href="/receipes" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>