<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/recipe-image-legacy-id-1244455_7-e831545.jpg?quality=100&webp=true&resize=375,341" alt="smoothie recipe icon">
    <h4>Healthy salmon pasta</h4>
    <p>Penne, Salmon, Olive Oil, Mushroom, Basil Leaves</p>
  </li>
  <li class="recipe">
    <img src="https://images.immediate.co.uk/production/volatile/sites/30/2023/01/Healthy-pesto-eggs-on-toast-2e7feac.jpg?quality=100&webp=true&resize=750,681" alt="smoothie recipe icon">
    <h4>Healthy pesto eggs on toast</h4>
    <p>Loaf Slices, Eggs, Tomatoes, Spinach, Garlic</p>
  </li>
  <li class="recipe">
    <img src="https://images.immediate.co.uk/production/volatile/sites/30/2022/04/Healthy-chicken-stir-fry-02a0a0f.jpg?quality=100&webp=true&resize=750,681" alt="smoothie recipe icon">
    <h4>Healthy chicken stir-fry</h4>
    <p>Rice, Ginger, Broccoli, Carrots, Chicken, Cumin</p>
  </li>
  <li class="recipe">
    <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/10/Tuna-Caper-Chilli-Spaghetti-0d409ad.jpg?quality=100&webp=true&resize=750,681" alt="smoothie recipe icon">
    <h4>Tuna, caper & chilli spaghetti</h4>
    <p>Spaghetti, Olive Oil, Garlic, Parsley, Tuna, Caper</p>
  </li>
  <li class="recipe">
    <img src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/burrito-bowl-3629880.jpg?quality=100&webp=true&resize=440,400" alt="smoothie recipe icon">
    <h4>Burrito bowl with chipotle black beans</h4>
    <p>Rice, Garlic, Vinegar, Honey, Black Beans</p>
  </li>
  <li class="recipe">
    <img src="https://images.immediate.co.uk/production/volatile/sites/30/2022/11/Penne-with-walnuts-6539545.jpg?quality=100&webp=true&resize=750,681" alt="smoothie recipe icon">
    <h4>Penne with cabbage & walnuts</h4>
    <p>Penne, Chillies, Garlic, Walnuts, Lemon</p>
  </li>
</ul>

<%- include('partials/footer'); -%>